# Virtual environments
venv/
.venv/
*/venv/

# Python cache
__pycache__/
*.pyc

# Large data folders
Dataset/
data/
*.mat
*.csv
!small_config.csv   # (only allow if needed)

# Models
*.joblib
*.pkl
*.h5
*.pt

# EMD extracted features
feature.csv
feature_fault.csv

# Logs
*.log

# VSCode
.vscode/

# Anything generated
*.dll
*.exe
